In [9]:
First_name = input("first name: ")   #QUESTION 1
Last_name = input("last name: ")

first name: benzarti
last name: aymen

In [10]:
print(Last_name + ' ' + First_name)

aymen benzarti

In [ ]:
#QUESTION2

In [1]:
n = 5

In [2]:
n1 = int("%s" % n)

In [3]:
n2 = int("%s%s" % (n,n))

In [4]:
n3 = int("%s%s%s" % (n,n,n))

In [5]:
print(n1 + n2 + n3)

615

In [6]:
#QUESTION3

In [15]:
number = int(input("give a number :"))

give a number :10

In [17]:
if number % 2 == 0 :
    print("this is an even number")
else :
    print("this is an odd number")

this is an even number

In [13]:
#QUESTION4

In [129]:
year =int(input("enter year: "))

enter year: 2000

In [130]:
century = ("%s" % year )

In [136]:
century1 = century[2:4]

In [137]:
if century1 == "00" :
    print(year,"not a leap year")
elif ( year % 4 ) != 0 :
        print(year,"not a leap year")
else :
        print(year,"is a leap year")

2000 not a leap year

In [138]:
#QUESTION 5

In [139]:
string1 = input("say something :")

say something :hello team

In [140]:
print(string1[0:-1:2])

hlota

In [141]:
#QUESTION 6

In [158]:
 price = int(input("price : "))

price : 400

In [159]:
if price >= 500 :
    discounted_price = price * 0.5 
    print(discounted_price)
elif price < 500 and price > 200 :
    discounted_pirce = price * 0.7
    print(discounted_pirce)
elif price < 200 :
    discounted_price = price * 0.9
    print(discounted_price)

280.0